<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <title>imagespy</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/ui">imagespy</a>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/metrics">/metrics</a>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Repository</th>
              <th scope="col">Current Tag</th>
              <th scope="col">Current Digest</th>
              <th scope="col">Latest Tag</th>
              <th scope="col">Latest Digest</th>
              <th scope="col">Source</th>
              <th scope="col">Input</th>
              <th scope="col">Instance</th>
            </tr>
          </thead>
          <tbody>
          {{#images}}
            <tr class="{{row_css_class}}">
              <td>{{repository}}</td>
              <td>{{current_tag}}</td>
              <td>{{current_digest}}</td>
              <td>{{latest_tag}}</td>
              <td>{{latest_digest}}</td>
              <td>{{source}}</td>
              <td>{{input}}</td>
              <td>{{instance}}</td>
            </tr>
          {{/images}}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
